asgiref==3.9.0
beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
Django==5.2.4
django-allauth==65.9.0
django-bootstrap4==25.1
django-countries==7.6.1
django-crispy-forms==2.4
django-debug-toolbar==5.2.0
idna==3.10
pillow==11.3.0
requests==2.32.4
soupsieve==2.7
sqlparse==0.5.3
stripe==12.3.0
typing_extensions==4.14.1
urllib3==2.5.0
