{% extends 'base.html' %}
{% load static %}
<!-- {% load crispy_forms_tags %} -->

{% block head_title %}
Molla :: dashboard 
{% endblock %}

{% block content %}

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'estores:home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
								    </li>
									<li class="nav-item">
								        <a class="nav-link" id="tab-budget-link" data-toggle="tab" href="#tab-budget" role="tab" aria-controls="tab-budget" aria-selected="false">Budget</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" href="#">Sign Out</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
								    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
								    	<p>Hello <span class="font-weight-normal text-dark">{{ user }}</span> (not <span class="font-weight-normal text-dark">{{ user }}</span>? <a href="#">Log out</a>) 
								    	<br>
								    	From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p>
								    </div><!-- .End .tab-pane -->

									<div class="tab-pane fade" id="tab-budget" role="tabpanel" aria-labelledby="tab-budget-link">
										<div class="cart-bottom">
											<div class="cart-discount">
												{% if budget %}
												<p>There is a budget.</p>
												<hr>
												Title: {{ budget.budget_name }}<br>
												Amount: {{ budget.amount }}<br>
												Duration: {{ budget.duration }} days<br>
												Amount of total orders made: {{ total }}<br>
												Budget balance: {{ budget_balance}}
												
												
												{% else %}
												<p>Set a budget to control your spending.</p>
												<form class="card p-2" action="" method="POST">
													{% csrf_token %}
													<div class="input-group">
														{{ form.as_p }}
														<div class="input-group-append">
															<button class="btn btn-outline-primary-2" type="submit"><i class="icon-long-arrow-right"></i></button>
														</div>
													</div>
												</form>
												{% endif %}
											</div>
										</div>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
										{% if order %}
										{% for orders in order %}
										<div class="col-lg-6">
											<div class="card card-dashboard">
												<div class="card-body">
													<h3 class="card-title">Order {{ orders.user.id }}</h3><!-- End .card-title -->
													
													<p>Shipping : {{orders.options }}<br>
													Order amount : {{ orders.get_total_add_shipping }}<br>
													Order date : {{ orders.ordered_date }}<br>
													Reference code : {{ orders.ref_code }}<br>
													{% for item in order.items %}
													{{ item.item.title}}
													{% endfor %}<br>
													{% for item in order.items.all %}
													<div class="form-group">{{ item.title }}</div>
													{% endfor %}
													Coupon : {{ orders.coupon }}<br>
													<!--<a href="#">Edit <i class="icon-edit"></i></a>--></p>
													
												</div><!-- End .card-body -->
											</div><!-- End .card-dashboard -->
										</div><!-- End .col-lg-6 -->
										{% endfor %}
										{% else %}
										
								    	<p>No order has been made yet.</p>
								    	<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
										{% endif %}
									</div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
								    	<p>The following addresses will be used on the checkout page by default.</p>

								    	<div class="row">
								    		<div class="col-lg-6">
								    			<div class="card card-dashboard">
								    				<div class="card-body">
													
								    					<h3 class="card-title">Billing Address</h3><!-- End .card-title -->
														{% if b_address %}
															<p>
															{{ b_address.street_address}}<br>
															{{ b_address.apartment_address}}<br>
															{{ b_address.country.name }}<br>
															{{ b_address.state}}<br>
															{{ b_address.zip}}<br>
															{{ user.phone }}<br>
															{{ user.email }}<br>
															</p>
														{% else %}
															<p>You do not have a billing address</p>
														{% endif %}
														
														
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->

								    		<div class="col-lg-6">
								    			<div class="card card-dashboard">
								    				<div class="card-body">
								    					<h3 class="card-title">Shipping Address</h3><!-- End .card-title -->
														{% if s_address %}
														<p>
															{{ s_address.street_address}}<br>
															{{ s_address.apartment_address}}<br>
															{{ s_address.country.name }}<br>
															{{ s_address.state}}<br>
															{{ s_address.zip}}<br>
															{{ user.phone }}<br>
															{{ user.email }}<br>
															</p>
															{% else %}
														<p>You do not have a shipping address</p>
														{% endif %}
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->
								    	</div><!-- End .row -->
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
								    	<form action="#">
			                				<div class="row">
			                					<div class="col-sm-6">
			                						<label>First Name *</label>
			                						<input type="text" class="form-control" placeholder="{{ user.firstname }}" required>
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>Last Name *</label>
			                						<input type="text" class="form-control" required>
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->

		            						<label>Display Name *</label>
		            						<input type="text" class="form-control" required>
		            						<small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>

		                					<label>Email address *</label>
		        							<input type="email" class="form-control" required>

		            						<label>Current password (leave blank to leave unchanged)</label>
		            						<input type="password" class="form-control">

		            						<label>New password (leave blank to leave unchanged)</label>
		            						<input type="password" class="form-control">

		            						<label>Confirm new password</label>
		            						<input type="password" class="form-control mb-2">

		                					<button type="submit" class="btn btn-outline-primary-2">
			                					<span>SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			</form>
								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

{% endblock %}
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    {% block script %}<script src="{% static 'js/main.js' %}"></script>{% endblock %}